.container {
    width: 480px;
    min-height: 300px; 
    padding: 30px;
    margin: 0 auto;
    background: #111111;   
}

h1 {
    font-family: "Courier New", Courier, monospace;
    font-size: 44px;
    text-align: center;
    color: #00FF40;    
}

h2 {
    font-family: "Courier New", Courier, monospace;
    font-size: 28px;
    text-align: center;
    color: #00FF40;    
}


input[type="text"] {
    font-family: "Courier New", Courier, monospace;
    background: #FFFFFF;
    border: 3px solid #777777;
    height: 30px;
    width: 96%;
    padding: 5px;
    line-height: 30px;
    font-size: 24px;
    border-radius: 5px;
    margin-bottom: 20px;
    
}

input[type="text"]:focus {
    outline: 0;
    border: 3px solid #777777;    
}

.addTask {
    display: block;
    margin: 0 auto 20px auto;
    height: 36px;
    width: 220px;
    font-size: 20px;
    border-radius: 3px;
    background: #CCCCCC;
}

.input {
    font-size: 24px;
    background: #BFFFBF;
    border: 2px solid #777777;
    border-radius: 5px;
    width: 96%;
    padding: 5px;
    line-height: 30px;    
    border-radius: 5px;
    margin-bottom: 5px;
}

.listTasks {
    font-family: "Courier New", Courier, monospace;
    font-size: 24px;
    color: #424251;
}